body {
    margin: 0 auto;
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
h1 {
	font-family: 'Italiana', serif;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#profile {
	width: 70%;
	height: 70%;
	margin: 0 auto;
	margin-bottom: 0px;
	border-radius: 50%;
}
nav ul, p {
    padding: 0px;
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size: 25px;
}
a:hover {
    text-decoration: underline;
}



