body {
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
header{
	background-image: url(https://cloud.githubusercontent.com/assets/9985425/8754317/8961bcdc-2c77-11e5-93c5-60e5800428ea.jpg);
	background-size: 110%;
  	height: 705px;
	
}

.bounce {
	margin: 40%;
	 position: absolute;
	 bottom: 10px;
	 animation: bounce 2s infinite;
	 -webkit-animation: bounce 2s infinite;
	 -moz-animation: bounce 2s infinite;
	 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	 40% {-webkit-transform: translateY(-30px);}
	 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	 40% {-moz-transform: translateY(-30px);}
	 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	 40% {-o-transform: translateY(-30px);}
	 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	 40% {transform: translateY(-30px);}
	 60% {transform: translateY(-15px);}
}

#container {
	padding: 50px;
	padding-top: 0px;
	background-color: #DEC6BF;
}
h1 {
	font-family: 'Italiana', serif;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
	padding-top: 30%;
	margin-top: 0px;
	color: white;
}
h2 {
	display: inline;
	font-size: 45px;
	margin: 0px;
	text-transform: uppercase;
}
h3 {
	font-size: 40px;
	text-align: center;
	color: #78454C;
  
}
#profile {
	width: 70%;
	height: 70%;
	margin: 0 auto;
	margin-left: 15%;
	border-radius: 50%;
	margin-top: 20px;
}
nav {
	text-align: center;
	padding-top: 15px;
}
ul {
	margin: 0px;
  	padding-top: 20px;
}
nav ul, p {
    padding: 0px;
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size: 25px;
    color: #450D0B;
}
a:hover {
    text-decoration: underline;
}
p {
	width: 75%;
	margin: 0 auto;
	line-height: 130%;
}



